body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:62.5%; font-family: "Microsoft YaHei" ! important; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#333; text-decoration:none; }
a:hover { text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; clear: both; }
header{
	height: 41px;
	background: #f7f7f7;
	width: 100%;
}
.toolbar {
	width: 100%;
	background: #f7f7f7;
	border-bottom: 1px solid #efefef;
	position: fixed;
	z-index: 10001;
}
.toolbar-bd {
	width: 1000px; 
	margin: 0 auto;
	height: 41px;
	background: #f7f7f7;
}
.toolbar-bd-l {
	float: left;
}
.toolbar-bd-l ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.toolbar-bd .toolbar-bar-l .menu {
	float: left;
}
.toolbar-bd .toolbar-bar-l .menu-hd a:hover {
	color: #ff6052; 
	text-decoration: none;
}
.toolbar-bd .toolbar-bar-l .menu-hd {
	line-height: 41px;
}
.toolbar-bd .toolbar-bar-l .menu-bd {
	position: relative;
	margin-top: -3px;
	display: none;
}
.toolbar-bd .toolbar-bar-l .menu-bd .menu-bd-panel{
	z-index: 100001;
	position: absolute;
	left: -6px;
	top: -38px;
	line-height: normal;
	padding: 0 5px;
	border: 1px solid #e8e8e8;
	border-top: 0;
	background: #fff;
	transition: border linear .2s,box-shadow linear .5s;
	box-shadow: 0 0 7px RGBA(227,227,227,1);
}
.toolbar-bd .toolbar-bar-l .menu-bd .menu-bd-panel .hover-panel{
	margin-top: 6px;
}
.toolbar-bd .toolbar-bar-l .menu-bd .menu-bd-panel a{
	display: block;
	line-height: 28px;
	white-space: nowrap;
}
.toolbar-bd .toolbar-bar-l .menu-bd .menu-bd-panel a:hover{
	color: #ff6052; 
	text-decoration: none;
}
.navbar{
	z-index: 10000;
	width: 100%;
	background: #fff;
}
.navbar .navbar-wrap{
	width: 1000px;
	margin: 0 auto;
	height: 73px;
	background: #fff;
}
.navbar .navbar-wrap .navbar-collapse{
	height: 69px;
	float: right;
}
.navbar .navbar-wrap .navbar-collapse ul{
	list-style: none;
}
.navbar .navbar-wrap .navbar-collapse ul li{
	float: left;
	height: 100%;
	margin: 0 10px;
}
.navbar .navbar-wrap .navbar-collapse ul li:first-child{
	margin-left: 0;
}
.navbar .navbar-wrap .navbar-collapse ul li a{
	padding: 0 10px;
	line-height: 69px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	font-family: "Microsoft Yahei",sans-serif,monospace;
}
.navbar .navbar-wrap .navbar-collapse ul li:hover{
	border-bottom: 4px solid #ea4c37;
}
.navbar .navbar-wrap .navbar-collapse ul .active a{
	color: #df3932;
}
#J_wrap{
	position: relative;
	width: 100%;
	min-width:1000px;
}

#J_wrap .slide-wrap{
	position: relative;
	width: 100%;
	height: 400px;
	margin: 0 auto;
}
.my-slider{ position: relative; overflow: auto; }
.my-slider li { list-style: none; }
.my-slider ul li { float: left; }
.container { position: relative; }
.container .opacity-wrap {
  position: absolute;
  right: 174px;
  top: -382px;
  width: 316px;
  height: 315px;
  z-index: 10;
  background: #000;
  opacity: .3;
  filter: alpha(opacity=60);
}
.container .unlogin-title{
  margin: 5px 0;
  margin-bottom: 24px;
}
.container .unlogin{
  position: absolute;
  top: -300px;
  right: 200px;
  z-index: 99;
  width: 260px;
  height: 230px;
  color: #fff;
  font-size: 24px;
}
.container .unlogin .unlogin-title .profit-hd span{
	display: block;
}
.register-btn{
  float: left;
  font-size: 16px;
  width: 115px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #ff3b26;
  background: #ff3b26;
  margin-right: 14px;
  text-align: center;
  color: #fff;
}
.login-btn{
  float: left;
  font-size: 16px;
  width: 115px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #cbe6ef;
  background: transparent;
  text-align: center;
  color: #fff;
}
.register-btn:hover,.login-btn:hover{
	text-decoration: none;
}
.security-wrap{
	margin-top: 40px;
}
.security-wrap .container{
	width: 1000px;
	margin: 0 auto;
}
.security-title{
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.security-wrap .security-bd{
  overflow: hidden;
  text-align: center;
  height: 240px;
  padding: 30px 0 60px;
  background: url("../images/security_bg.jpg") center bottom no-repeat;
}
.security-wrap .security-bd ul>li{
  float: left;
  margin: 0 5px;
  width: 323px;
  height: 235px;
  border-radius: 4px;	
}
.security-wrap .security-bd ul>li .frame{
  text-indent: -9999px;
  margin: 0 auto 20px;
  height: 105px;
  width: 102px;
  overflow: hidden;
}
.fr-title{
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 18px;
  color: #333;
}